USE [master]
GO
/****** Object:  Database [school]    Script Date: 11/12/2023 5:45:49 CH ******/
CREATE DATABASE [school]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'school', FILENAME = N'E:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\school.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'school_log', FILENAME = N'E:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\school_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [school].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [school]
GO
/****** Object:  Table [dbo].[lophoc]    Script Date: 11/12/2023 5:45:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lophoc](
	[maLopHoc] [int] IDENTITY(1,1) NOT NULL,
	[tenLopHoc] [nvarchar](50) NULL,
	[tenNha] [nvarchar](50) NULL,
	[buoiHoc] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[lophoc] ON 

INSERT [dbo].[lophoc] ([maLopHoc], [tenLopHoc], [tenNha], [buoiHoc]) VALUES (1, N'asd', N'C', N'sang')
INSERT [dbo].[lophoc] ([maLopHoc], [tenLopHoc], [tenNha], [buoiHoc]) VALUES (8, N'321424', N'A', N'sang')
INSERT [dbo].[lophoc] ([maLopHoc], [tenLopHoc], [tenNha], [buoiHoc]) VALUES (6, N'ertet', N'A', N'sang')
SET IDENTITY_INSERT [dbo].[lophoc] OFF
GO
USE [master]
GO
